{% extends 'base/base.html' %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"># </th>
      <th scope="col"> Nombre Mascota</th>
      <th scope="col">Nombre dueño</th>
      <th scope="col">Apellidos Dueñp</th>
      <th scope="col">Inicio Control</th>

     
      <th scope="col">Opciones para realizar</th>
     
      
      
    </tr>
  </thead>
  <tbody>
    {% if expedientes %}
    {% for expediente in expedientes %}
    

    
    <tr>
      <td>{{expediente.id}}</td>
      <td>{{expediente.mascota.nombre}}</td>
      <td> {{expediente.mascota.dueñomascota.nombres}}</td>
      <td> {{expediente.mascota.dueñomascota.apellidos}}</td>
      <td>{{expediente.inicioControl}} </td>
    
     


      <td> 
          <a class="btn btn-light" href="{% url 'controlVacunas:index_vacu2' expediente.id %}" >Vacunacion</a>
          <a class="btn btn-light" >Desparacitacion</a>
          <a class="btn btn-light" href="{% url 'controlCelo:index-celo' expediente.id %}"  >Celo</a>
          <a class="btn btn-light"  >Consulta</a>
          

      </td>
    
    
    

    {% endfor%}
    {% else %}
    <h1> No se encuentran registros disponibles </h1>

    

    {% endif %}
   
  </tbody>
</table> 

{% endblock %}