{% extends 'base/base.html' %}

{% block content %}
<div class="health-care" style="padding-top:2%; padding-bottom:0;" >
	<div class="container" >
		<div class="col"align="center" style="padding-bottom:1%">  
			<h3>Listado de Mascotas</h3>  
		 </div>  
		<table class="table table-bordered">  
			<thead class="thead-dark">  
				<tr>
					<th>#</th>
					<th>Nombre</th>
					<th>Raza</th>
					

				</tr>  
			</thead> 
			<tbody>  
				{% if expedientes %}
				{% for expediente in expedientes %} 
				<tr>  
					<td>{{ expediente.mascota.id }}</td>  
					<td>{{ expediente.mascota.nombre }}</td>  
					<td>{{ expediente.mascota.raza }}</td>  
					

					<td>
						<a class="btn btn-primary" href="{% url 'perfilMascota:perfil-mascota' expediente.id %}">Ver perfil</a>
						
					</td>
				</tr>  
				{% endfor %}
				{% else %}
				<h1>No hay registro de mascotas</h1>
				{% endif %}  
			</tbody>  
		</table>
	</div>
</div>
<svg id="bigTriangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
<path id="trianglePath3" d="M0 0 L50 100 L100 0 Z"></path>
<path id="trianglePath4" d="M50 100 L100 40 L100 0 Z"></path>
</svg>
{% endblock %}