{% extends 'base/base.html' %}

{% block content %}
<div class="health-care" id="consulta" style="padding-top:2%; padding-bottom:0;" >
	<div class="container" style="background-color:rgba(255, 255, 255, 0.2);" >
    	<div class="col" align="center" style="padding-bottom:1%"> 
	
    	<h2>Fecha proxima vacunacion: ##/##/##</h2>
    	<h3>Control de vacunacion</h3> 
		<table class="table table-bordered">  
			<thead class="thead-dark">  
				<tr>  
					<th>#</th>
					<th>Fecha</th>  
					<th>Dosis aplicada</th>  
					<th>Tipo de Vacuna</th>  
					<th>Siguiente vacunacion</th>
				</tr>  
			</thead> 
			<tbody>  
			{% if desp %}
			<h1>No hay registros de desparasitantes</h1>
			{% else %}
				{% for vacu in varvacu %}
				<tr>  
					<td>{{ vacu.id }}</td>
					<td>{{ vacu.fechaAplicacionVac }}</td>  
					<td>{{ vacu.cantDosis }}</td>  
					<td>{{ desp.desparasitante.nombreDesparasitante }}</td>
					<td>{{ vacu.fechaProxVac  }}</td>  
					<td>  
						<a class="btn btn-primary" href="{% url 'controlVacunas:editar_vacu' vacu.id %}">Editar</a>
						<a class="btn btn-danger" href="{% url 'controlVacunas:eliminar_vacu' vacu.id %}">Eliminar</a>
					</td>  
				</tr>  
			{% endfor %}
			{% endif %}
				
			</tbody>  
		</table>
		<div class="col"align="center" style="padding-bottom:1%">
			<a class="btn btn-primary" href="{% url 'controlVacunas:registrar_vacu' %}">Agregar Vacunacion</a>
		</div>
		<div class="col"align="center" style="padding-bottom:1%">
			<a class="btn btn-primary" href="{% url 'controlVacunas:nueva_vacu' %}">Crear nueva vacuna</a>
		</div>
	</div>
</div>
{% endblock %}