{% extends 'base/base.html' %}
{% block content %}
<!--start-about-->
<div class="health-care" id="consulta" style="padding-top:2%; padding-bottom:0;" >
	<div class="container" style="background-color:white">
	<form method="POST" class="post-form" action="{% url 'controlVacunas:nueva_vacu' idmasc %}">
			{% csrf_token %}  
	<div class="container"align="center">  
	<br>  
	  <div class="form-group row">  
		<label class="col col-form-label"></label>  
		<div class="col">  
		<h3>Registrar nueva vacuna</h3>  
		</div>  
	  </div>  
	  <div class="form-group row" align="center">  
		{{ form.nombre.errors }}
		<label class="col-sm-4">Nombre:</label>  
		<div class="col-sm-1">  
		  {{ form.nombre }}  
		</div>  
	  </div>  
		<div class="form-group row">  
		<label class="col col-form-label"></label>  
		<div class="col">  
		<button type="submit" class="btn btn-primary">Enviar</button>  
		</div>  
	  </div>  
		</div>  
	</form> 
	</div>	 
</div>
<svg id="bigTriangleShadow" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
<path id="trianglePath5" d="M0 0 L50 100 L100 0 Z"></path>
<path id="trianglePath6" d="M50 100 L100 40 L100 0 Z"></path>
</svg>
{% endblock %}
