{% extends 'base/base.html' %}

{% block content %}
<div class="health-care" id="consulta" style="padding-top:2%; padding-bottom:0;" >
	<div class="container" style="background-color:rgba(255, 255, 255, 0.2);" >
    	<div class="col" align="center" style="padding-bottom:1%"> 
	
    	<h2>Fecha proxima desparasitacion: ##/##/##</h2>
    	<h3>Control de desparasitacion</h3> 
		<table class="table table-bordered">  
			<thead class="thead-dark">  
				<tr>  
					<th>#</th>
					<th>Fecha</th>  
					<th>Dosis aplicada</th>  
					<th>Tipo de desparasitante</th>  
					<th>Siguiente desparasitacion</th>
				</tr>  
			</thead> 
			<tbody>  
			{% if desp %}
			<h1>No hay registros de desparasitantes</h1>
			{% else %}
				{% for desp in vardesparasitante %}
				<tr>  
					<td>{{ desp.id }}</td>
					<td>{{ desp.fechaAplicacion }}</td>  
					<td>{{ desp.dosisDesp }}</td>  
					<td>{{ desp.desparasitante.nombreDesparasitante }}</td>
					<td>{{ desp.fechaProxDes }}</td>  
					<td>  
						<a class="btn btn-primary" href="{% url 'controlDesp:editar_desp' desp.id %}">Editar</a>
						<a class="btn btn-danger" href="{% url 'controlDesp:eliminar_desp' desp.id %}">Eliminar</a>
					</td>  
				</tr>  
			{% endfor %}
			{% endif %}
				
			</tbody>  
		</table>
		<div class="col"align="center" style="padding-bottom:1%">
			<a class="btn btn-primary" href="{% url 'controlDesp:registrar_desp' %}">Agregar desparasitacion</a>
		</div>
		<div class="col"align="center" style="padding-bottom:1%">
			<a class="btn btn-primary" href="{% url 'controlDesp:nuevo_desp' %}">Crear nuevo desparasitante</a>
		</div>
	</div>
</div>
{% endblock %}